<h2>Detalhes do Produto</h2>
<hr>
<p><%= @product.title %></p>
<p><%= @product.briefing %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= @product.qtd %></p>
<a href="/admin/products/all">Voltar</a>
